.absoluteControlBox {
  position: absolute;
  bottom: 0.25%;
  right: 0.25%;
}
.controlBox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.upDown {
  width: 100%;
  padding: 1%;
}

button {
  font-size: 2rem;
}
select {
  font-size: 2rem;
}
