.absoluteControlBox {
  position: absolute;
  bottom: 0.25%;
  right: 0.25%;
}
.controlBox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.upDown {
  width: 100%;
  min-width: 75px;
  padding: 1.5%;
}

button {
  margin-top: 1%;
  border: 1px solid black;
  background-color: white;
  font-size: 2rem;
}
select {
  width: 100%;
  margin-top: 1%;
  border: 1px solid black;
  background-color: white;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 992px) {
  button {
    font-size: 1rem;
  }
  select {
    font-size: 1rem;
  }
}
